{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #E2E5DE; }
	</style>
{% endblock %}


{% block title %}
Best Movie Actors
{% endblock %}




{% block content %}

<div class="flashes">
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
</div>

<div class="container">


  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">GWAS Webservice </h1>

      <p class="lead">Hello</p>



      <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
            {{ form.csrf_token() }}

           <div class="form-group">
              {{ wtf.form_field(form.name, type='email', class='form-control', placeholder='Email Address') }}
            </div>

           <div class="form-group">
              {{ wtf.form_field(form.geno_file, class='form-control', placeholder='geno_file') }}


            </div>

           <div class="row">
              <div class="form-group col-md-6">
                {{ wtf.form_field(form.pheno_file, class='form-control', placeholder='pheno_file') }}
              </div>

              <div class="form-group col-md-6">
                {{ wtf.form_field(form.pheno_upload,  class='form-control', placeholder='') }}
              </div>
            </div>




            <div class="row">
              <div class="form-group col-md-6">
                {{ wtf.form_field(form.ids_file, class='form-control', placeholder='ids_file') }}
              </div>
                 <div class="form-group col-md-6">
                {{ wtf.form_field(form.id_upload,  class='form-control', placeholder='') }}
              </div>

            </div>

          <div class="row">
              <div class="form-group col-md-6">
                {{ wtf.form_field(form.kinship_upload, class='form-control', placeholder='Optional') }}
              </div>

            </div>






            <button type="submit" class="btn btn-primary">Submit</button>
  </form>

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>



{% endblock %}
