{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #ffffff ; }
	</style>
{% endblock %}


{% block title %}
GWAS Webservice at IPK
{% endblock %}




{% block content %}

<style>
img {
  opacity: 0.9;
}
</style>
<center>
    <img src="static/gwas_banner.png" alt="Forest" width="750" height="300">
</center>


<div class="container">


  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h2 class="pt-5 pb-2"></h2>

      <p class="lead"> </p>



      <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
            {{ form.csrf_token() }}

           <div class="form-group">
              {{ wtf.form_field(form.name, type='email', class='form-control', placeholder='Email Address') }}
            </div>

           <div class="form-group">
              {{ wtf.form_field(form.geno_file, class='form-control', placeholder='geno_file') }}


            </div>

           <div class="row">
              <div class="form-group col-md-6">
                {{ wtf.form_field(form.pheno_file, class='form-control', placeholder='pheno_file') }}
              </div>

              <div class="form-group col-md-6">
                {{ wtf.form_field(form.pheno_upload,  class='form-control', placeholder='') }}
              </div>
            </div>



            <div class="row">
              <div class="form-group col-md-6">
                {{ wtf.form_field(form.ids_file, class='form-control', placeholder='ids_file') }}
              </div>
                 <div class="form-group col-md-6">
                {{ wtf.form_field(form.id_upload,  class='form-control', placeholder='') }}
              </div>

            </div>

          <div class="row">
              <div class="form-group col-md-6">
                {{ wtf.form_field(form.kinship_upload, class='form-control', placeholder='Optional') }}
              </div>

            </div>






            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit </button>
  </form>

        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        GWAS analysis started, you will receive an Email with your results ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>



{% endblock %}
